<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirection vers le dossier public sans RewriteBase (plus stable sur HostPapa)
    RewriteCond %{REQUEST_URI} !^/testftp/gov/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
